*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Rubik;
    src: url(../assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
}

body{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Rubik, sans-serif;
    color: black;
}

.ratio{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
.ratio img{
    position: absolute;
    top: 0;
    left: 0;
    width: 357px;
    height: auto;
    object-fit: cover;
}
/* Formato de Grilla */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.product-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item img {
    max-width: 100%;
    height: 243.67px;
    border-radius: 4px;
    padding: 10px;
    object-fit: scale-down;
}

.product-item h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-item p {
    font-size: 1em;
    color: #333;
}

.shopping-btn{
    text-align: center;
    padding: 5px 15px;
    background-color: #4CAF50;
    border: none;
    color: black;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: backgroudn-color 0.3s, transform 0.2s;
    position:static;
}

.shopping-btn:hover{
    background-color: #4caf4f8b;
}
.shopping-btn:active{
    transform: scale(0.95);
}




/*class "textBocks"*/
/* .textBlocks{
    color: black;
    background-color: aliceblue;
    position: relative;
    margin: 10px 10px 20px 10px;

}

.headerLine{
    display: inline;
    position: relative;
    color: black;
    text-align: center;
    left: 75%;
    background-color: aliceblue;
    font-size: 50px;
    border: 10px solid black;
}

.footer{
    display: block;
    position: fixed;
    bottom: 0px;
    background-color: aliceblue;
    padding: 11px;
    border: 2px color black;
}

.textBlocks2{
    display: inline;
    color: black;
    background-color: aliceblue;
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: aliceblue;
}

#about{
    transform: scale(0.5);
}


body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

h1 {
    font-size: 36px;
    color: #007bff;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.btn-social {
    margin-top: 10px;
} */


